<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="log4net" value="log4net.config"></add>
	</appSettings>

	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value=".\logs\applog.txt" />
			<!--定义文件存放位置-->
			<!--<file type="log4net.Util.PatternString" value="F:\Logs\%date{yyyy}\%date{MM}\%date{yyyy-MM-dd}.txt" />-->
			
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
</configuration>
